<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr th:each="user:${userList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td>
            <form th:method="get"
                  th:action="@{getUser/{id}(id=${user.getId()})}">
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="delete"
                  th:action="@{deleteUser/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Add" onclick="window.location.href ='addUser' "/>
</body>
</html>
